nav{
    display: inline;
}

div{
    padding: 5px;
}

.thread-data, .thread-image{
    display: inline-block;
}

img {
    text-align: center
}

.parent-comment {
    position: relative;
    border-radius: 15px;
    margin-top: -15px;
    border: solid lightblue;
    background: lightblue;
    margin-bottom: 20px;
    /* background: lightblue; */
}

.child-comment {
    position: relative;
    border: solid lightgray;
    /* background: lightgray; */
    padding-top: 10px;
    margin-top: 10px;
    /* background: green; */
}